@font-face {
  font-family: 'Trebuchet MS';
  src: url('./fonts/trebuc.woff');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}


.todo-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #321dff;

}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  min-height: 90%;
  max-height: auto;
  background-color: #000000;
  border: 1px solid black;
  border-radius: 2%;
  color: white;
}

.todo-wrapper>span {
  font-size: 1.3vw;
  margin: 20px;
}

.todo-wrapper span {
  font-size: large;
}

.delete {
  cursor: pointer;
}

.todo_input {
  width: 70%;
  margin: 0 auto;
}

.input-text ::placeholder {
  font-size: .8vw;
}

.input-edit {
  border: none;
  background: none;
  color: white;
}

.input-edit:focus-visible {
  outline: none;
}

.todo-form {
  margin-bottom: 15px;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
}

.todo-text {
  cursor: pointer;
}

.todo:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.todo:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.todo:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.edit {
  cursor: pointer;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-color: black;
}

.ant-input {
  background-color: black !important;
  border: 2px solid !important;
  border-color: rgba(93, 12, 255, 1) !important;
  color: white !important;
}

.ant-btn {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%) !important;
  border: none !important;

}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
  border: 1px solid rgba(93, 12, 255, 1) !important;
}


@media (min-width: 240px) and (max-width: 768px) {
  .todo-wrapper {
    width: 80%;
    min-height: 90%;
    max-height: auto;
  }

  .input-text ::placeholder {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .todo-wrapper {
    width: 90%;
    min-height: 90%;
    max-height: auto;
  }

  .input-text ::placeholder {
    font-size: 2vw;
  }

  .ant-btn-lg {
    font-size: 36px !important;
  }

  .ant-input-lg {
    font-size: 36px !important;
  }

  .ant-input-search-large .ant-input-search-button {
    height: 70px !important;
  }
}